
<footer>
  <div class="wrapper row">
    <div class="left col span_6">
      <a href="#"><img class="logo" src="images/logo.png" alt="footer-logo"></a>
    </div>
    <div class="right col span_6">
      <p>2016 All Rights Reserved</p>
      <ul>
        <li><a href="#"><img src="images/gplus-icon.png" alt="Google Plus"></a></li>
        <li><a href="#"><img src="images/pinterest-icon.png" alt="Pinterest"></a></li>
        <li><a href="#"><img src="images/facebook-icon.png" alt="Facebook"></a></li>
        <li><a href="#"><img src="images/twitter-icon.png" alt="Twitter"></a></li>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>