<% include ./partials/header.ejs %>


<div id="banner">
    <div class="blueberry">
        <ul class="slides">
            <li><img src="images/img1.jpg" alt="banner 1">
                <div class="banner-image1">
                    <h1>HELLO! I'M BALPREET</h1>
                    <h1>YOU MAY CALL ME SURFY</h1>
                    <a href="/about">Know Me</a>
                </div>
            </li>
            <li><img src="images/img2.jpg" alt="banner 2">
                <div class="banner-image2">
                    <h1>ABHISHEK HAI EK GANDU</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Isiliye abhishek bakchod ki sab friend zone karke gaand maar dete hain.</p>
                </div>
            </li>
            <li><img src="images/img3.jpg" alt="banner 3">
                <div class="banner-image1">
                    <h1>SURFY KA LAURA</h1>
                    <h1>MAHI KO BHI CHODA</h1>
                    <a href="#">Get Started</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<a href="#" class="back-to-top">&#9650;</a>
<% include ./partials/footer.ejs %>
